Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Ejecutable/Windows/Engine/Content/SlateDebug/Fonts/LastResort.tps
Ejecutable/Windows/Manifest_UFSFiles_Win64.txt
Ejecutable/Windows/Manifest_NonUFSFiles_Win64.txt
Ejecutable/Windows/Manifest_DebugFiles_Win64.txt
Ejecutable/Windows/Engine/Extras/Redist/en-us/UEPrereqSetup_x64.exe
Ejecutable/Windows/Engine/Extras/GPUDumpViewer/OpenGPUDumpViewer.sh
Ejecutable/Windows/Engine/Extras/GPUDumpViewer/OpenGPUDumpViewer.bat
Ejecutable/Windows/Engine/Extras/GPUDumpViewer/GPUDumpViewer.html
Ejecutable/Windows/Engine/Content/SlateDebug/Fonts/LastResort.ttf
Ejecutable/Windows/Engine/Content/Slate/Cursor/invisible.cur
Ejecutable/Windows/Bio4ResBP/Content/Paks/global.utoc
Ejecutable/Windows/Bio4ResBP/Content/Paks/global.ucas
Ejecutable/Windows/Bio4ResBP/Content/Paks/Bio4ResBP-Windows.utoc
Ejecutable/Windows/Bio4ResBP/Content/Paks/Bio4ResBP-Windows.ucas
Ejecutable/Windows/Bio4ResBP/Content/Paks/Bio4ResBP-Windows.pak
Ejecutable/Windows/Bio4ResBP.exe
Build/Windows/FileOpenOrder/EditorOpenOrder.log
Build/Windows/FileOpenOrder/CookerOpenOrder.log
